{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<style>
  .container {
    position: relative;
    text-align: center;
    color: rgb(255, 254, 254);
  }
  ::-webkit-scrollbar {
    display: none;
}
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  div.scrollmenu {
    background-color:;
   
    overflow: auto;
    white-space: nowrap;
  }
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    
    text-decoration: none;
  }
  div.scrollmenu p {
    width: ;
    color: black;
    
  }
  
  div.scrollmenu a:hover {
    
   border:1px solid rgb(146, 134, 134);
    
    
    
  }
  #banner{
       
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation-name: bannerani;
    animation-iteration-count: infinite;
    animation-duration: 25s;
}
@keyframes bannerani {

    25%{
      content:url("{% static 'images/f1.png' %}");
     
    }
    50%{
      content:url("{% static 'images/f2.jpg' %}");
    }
   

    75%{
            content: url("{% static 'images/f1.png' %}");
        }
}


</style>
<nav class="navbar navbar-expand-lg navbar-dark "  style="margin-top:-2px;background:rgb(1, 33, 59) ;font-weight:bold;">
  <img src="{% static 'images/loco.png' %}" style="width:15px;" alt="">

  <a class="navbar-link" href="#" style="color: white;margin-left:5px;">

   <span style="font-size: 12px;"> Deliver to</span>
    {% if user.is_authenticated %}
    {{user.username}}
<br>
{{user.userprofile.Location}}
{% endif %}

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mobiles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Laptops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Customer service</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'bookings:profile' %}">My orders</a>
      </li>
    </ul>
  </div>
</nav>


<img class="d-block w-100" id="banner" src="{% static 'images/f2.jpg' %}" height="400px;" style="margin-top: -50px;" alt="First slide">


<div class="btn-warning" style="width: 300px;">
  
  <center>
    <h2 style="color: white;">OFFER ALERT</h2>
    <h3>FLAT 2000 off Suitcases </h3>
  
  </center>
 
</div>

<center>



  <div style="margin:15px;">

    <table>
      <thead>
  
        <th>
          <a href="{% url 'bookings:straw' %}" style="color: black; text-decoration:none;">
          <div class="card" style="width: 18rem;height:25em;">

<center>            <img class="card-img-top" src="{% static 'images/strawsCover.jpg' %}" style="width:200px;" alt="Card image cap">
</center>  
            <div class="card-body">
              <h5 class="card-title">Straws</h5>
              <p class="card-text">High Quality Straws At Great Prices</p>
              <a href="{% url 'bookings:straw' %}" class="btn btn-warning">Show more</a>
            </div>
          </div>
        </a>
        </th>
        <th>
    <a href="{% url 'bookings:plates' %}" style="color: black; text-decoration:none;">

      <div class="card" style="width: 18rem;height:25em;">
        <center>            <img class="card-img-top" src="{% static 'images/platesCover.jpg' %}" style="width:200px;" alt="Card image cap">
        </center>            <div class="card-body">
          <h5 class="card-title">Plates</h5>
          <p class="card-text">High Quality Plates At Great Prices</p>
          <a href="{% url 'bookings:plates' %}" class="btn btn-warning">Show more</a>
        </div>
      </div>
    </a>
        </th>
        <th>
          <a href="{% url 'bookings:suitcases' %}" style="color: black; text-decoration:none;">

          <div class="card" style="width: 18rem;height:25em;">
            <center>            <img class="card-img-top" src="{% static 'images/suitCover.jpg' %}" style="height:12em; width:10em;" alt="Card image cap">
            </center>
                      <div class="card-body">
              <h5 class="card-title">Suitcases</h5>
              <p class="card-text">High Quality Suitcases At Great Prices  </p>
              <a href="{% url 'bookings:suitcases' %}" class="btn btn-warning">Show more</a>
            </div>
          </div>
          </a>
        </th>
  
      </thead>
    </table>
  
  </div>



</center>

 </div>




 

{% endblock %}