{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<style>
        body{
            background-color: white;
        } 
</style>






<br>
<div style="margin-left:50px;"><h5>My orders & Returns</h5>


{% if user.is_authenticated %}


{% for i in booked_ticket %}
     {% if i.user == user.username %}




    

    
    <div style="margin:50px">
     
    
 
     
     <div style="width: 550px; height:300px; background:white; 

     
     
     
     " id="content">


     <h5 style="font-family: Arial;"><b>{{ i.movie | upper }}</b>
    
    
    </h5>
  
    <table>
        <thead>
          <th>Order Details</th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>Customer name:</td>
            <td>{{user.username}}</td>
          </tr>
          <tr>
           <td>Gender:</td>
           <td>{{user.userprofile.gender}}</td>
         </tr>
         <tr>
           <td>Age:</td>
           <td>{{user.userprofile.age}}</td>
         </tr>
         <tr>
           <td><b>Mobile Number</b>:</td>
           <td>{{user.userprofile.mobilenumber}}</td>
         </tr>
         <tr>
           <td style=><b>Address</b>:</td>
           <td>{{user.userprofile.address}}</td>
         </tr>
         <tr>
           <td><b>Delivery location</b>:</td>
           <td>{{user.userprofile.Location}}</td>
         </tr>
         <tr style="background-color: chartreuse;">
            <td><b>EXPECTED DELIVERY</b>:</td>
            <td>Within 5 days</td>
            
          </tr>
        </tbody>
      </table>
  
        
     </div>

     
</div>


    {% endif %}
    <br>
    


    {% endfor %}
    
    <br><br><br>
    <br><br>
{% endif %}
<br><br><br><br>
{% endblock %}</div>