{% extends 'base.html' %}
{% load static %}
{% block body_block %}


<style>















    #fade {
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .80;
        filter: alpha(opacity=80);
      }
      
      #light {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 600px;
        max-height: 360px;
        margin-left: -300px;
        margin-top: -180px;
      
       
        z-index: 1002;
        overflow: visible;
      }
      
      #boxclose {
        float: right;
        cursor: pointer;
        color: #fff;
        border: 1px solid #AEAEAE;
        border-radius: 3px;
        background: #222222;
        font-size: 31px;
        font-weight: bold;
        display: inline-block;
        line-height: 0px;
        padding: 11px 3px;
        position: absolute;
        right: 2px;
        top: 2px;
        z-index: 1002;
        opacity: 0.9;
      }
      
      .boxclose:before {
        content: "×";
      }
      
      #fade:hover ~ #boxclose {
        display:none;
      }
      
      .test:hover ~ .test2 {
        display: none;
      }



























    video{
        border: 2px solid grey;
    }
    input[type=checkbox]{
        display: inline-block;
width: 32px;
height: 32px;



    }
    input[type=checkbox]:hover{
        display: inline-block;
width: 32px;
height: 32px;
background-color:#ccc;


    }
    input[type=checkbox]:checked{
   
    box-shadow: 0px 0px 20px green;

    }
    
    label{
        color: white;
    }

    #ivb{
        background-image: url({{movie.poster.url}});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
    }
    
</style>










<div id="ivb" style="height:525px; overflow-y:hidden;">
    


<div style="background-image:linear-gradient(to right,#0e141b,#0e141b,rgb(25, 35, 46,0.4),rgba(124, 9, 9, 0.0)); height:800px;">

    <br>
<div style="float: right; padding:20px; ">

    <div id="light">
        <a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
        <video id="VisaChipCardVideo" width="600" controls>
            <source src="{{movie.trailer.url}}" type="video/mp4">
            <!--Browser does not support <video> tag -->
          </video>
      </div>


</div>

<div class="container" style="color: white;">

    

   
    
    
    <h1 style="font-family: arial;"> {{movie.name }}</h1>
    <br>
    <p style="width: 700px;">    {{movie.description}}</p>
    <p><span style="color:grey;"><b>Director : &nbsp;</b></span> {{movie.director}}</p>
    <p><span style="color:grey;"><b>Starring : &nbsp;</b></span>{{movie.starring}}</p>
    <p><span style="color:grey;"><b>Genres &nbsp; : &nbsp;</b></span>{{movie.genres}}</p>
    <p><span style="color:grey;"><b>Language &nbsp; : &nbsp;</b></span>{{movie.language}}</p>
        

        {% if user.is_authenticated %}
        <a href="{% url 'bookings:reserve' %}"  class="btn btn-primary" style=" border-radius:0px;padding:15px; font-size:20px;"><b>Book Tickets</b></a>
        {% else %}
        <a href="{% url 'bookings:user_login' %}"  class="btn btn-primary" style=" border-radius:0px;padding:15px; font-size:20px;"><b>Book Tickets</b></a>

        {% endif %}
  

<a href="#"onclick="lightbox_open();"
class="btn btn-primary" style=" border-radius:0px;padding:15px; font-size:20px;"><b>Watch Trailer</b></a>
       
          

</div>
</div>





</div>























<div id="fade" onClick="lightbox_close();"></div>











<script>

    window.document.onkeydown = function(e) {
        if (!e) {
          e = event;
        }
        if (e.keyCode == 27) {
          lightbox_close();
        }
      }
      
      function lightbox_open() {
        var lightBoxVideo = document.getElementById("VisaChipCardVideo");
        window.scrollTo(0, 0);
        document.getElementById('light').style.display = 'block';
        document.getElementById('fade').style.display = 'block';
        lightBoxVideo.play();
      }
      
      function lightbox_close() {
        var lightBoxVideo = document.getElementById("VisaChipCardVideo");
        document.getElementById('light').style.display = 'none';
        document.getElementById('fade').style.display = 'none';
        lightBoxVideo.pause();
      }

</script>








{% endblock %}